In [4]:
import json 
import requests
import pandas as pd

In [5]:
url = "https://data.nasa.gov/resource/gh4g-9sfh.json"

In [6]:
resp = requests.get(url)
resp

In [7]:
nasa_df = resp.json()

In [9]:
type(nasa_df)

list

In [10]:
len(nasa_df)

1000

In [12]:
# ids we are looking for ID Year Fall Name Name Type Mass Latitude Longitude
# we can see that some values (geolocation) are a layer deeper in the list 
nasa_df[0]

{'name': 'Aachen',
 'id': '1',
 'nametype': 'Valid',
 'recclass': 'L5',
 'mass': '21',
 'fall': 'Fell',
 'year': '1880-01-01T00:00:00.000',
 'reclat': '50.775000',
 'reclong': '6.083330',
 'geolocation': {'latitude': '50.775', 'longitude': '6.08333'}}

In [13]:
nasa_df[0]['name']

'Aachen'

In [16]:
meteor_dict = {"ID": [], "Year": [], "Fall" :[], 'Name' : [], 'Name Type': [], 'Mass': [], "Latitude": [], "Longitude" : []}

for meteor in nasa_df: 
    try: name = meteor['name']
    except: name = None 
    
    try: m_id = meteor['id']
    except: m_id = None
    
    try: year = meteor['year']
    except: year = None
    
    try: fall = meteor['fall']
    except: fall = None
    
    try: name_type = meteor['nametype']
    except: name_type = None
    
    try: mass = meteor['mass']
    except: mass = None
    
    try: lat = meteor['geolocation']['latitude']
    except: lat = None
    
    try: lon = meteor['geolocation']['longitude']
    except: lon = None
    
    meteor_dict['ID'].append(m_id)
    meteor_dict['Year'].append(year)
    meteor_dict['Fall'].append(fall)
    meteor_dict['Name'].append(name)
    meteor_dict['Name Type'].append(name_type)
    meteor_dict['Mass'].append(mass)
    meteor_dict['Latitude'].append(lat)
    meteor_dict['Longitude'].append(lon)

In [19]:
meteor_dict.keys()

dict_keys(['ID', 'Year', 'Fall', 'Name', 'Name Type', 'Mass', 'Latitude', 'Longitude'])

In [26]:
df = pd.DataFrame.from_dict(meteor_dict)

In [27]:
df.head()

,ID,Year,Fall,Name,Name Type,Mass,Latitude,Longitude
0,1,1880-01-01T00:00:00.000,Fell,Aachen,Valid,21,50.775,6.08333
1,2,1951-01-01T00:00:00.000,Fell,Aarhus,Valid,720,56.18333,10.23333
2,6,1952-01-01T00:00:00.000,Fell,Abee,Valid,107000,54.21667,-113.0
3,10,1976-01-01T00:00:00.000,Fell,Acapulco,Valid,1914,16.88333,-99.9
4,370,1902-01-01T00:00:00.000,Fell,Achiras,Valid,780,-33.16667,-64.95

In [28]:
len(df)

1000